on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Update the dir.jon
    steps:
      - uses: actions/checkout@v2
      - name: Hello world action step
        id: hello
        uses: jacklehamster/hello-world-javascript-action@v1.74
        with:
          who-to-greet: ${{ github.repository}}

      - name: Consolidate JSON
        uses: jacklehamster/dok-compression-action@v1.1.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          ENV_VAR: value

      - name: Commit files # transfer the new html files back into the repository
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"          
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "Updating dir.json via Github Action"

      - name: Push changes # push the output folder to your repo
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
